qa-bot {
  $component-height: 400px;
  $component-width: 400px;
  $question-color: seagreen;
  $answer-color: darkslateblue;
  $box-shadow-color: black;
  $default-spacing: 8px;

  .chat-area {
    width: $component-width;
    height: $component-height;
    background-color: white;
    border: 1px solid darkolivegreen;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;

    ul {
      border: none;
      padding: 0px;
    }

    li {
      padding: $default-spacing;
      overflow: hidden;
      display: flex;
    }

    .message {
      box-shadow: $default-spacing / 2 $default-spacing / 2 $default-spacing / 2 $box-shadow-color;
      min-width: 0.15 * $component-width;
      max-width: 0.75 * $component-width;
      padding: $default-spacing;
      word-break: none;
    }

    .question {
      .message {
        background-color: $question-color;
      }
    }

    .answer {
      justify-content: flex-end;
      align-items: flex-end;

      .message {
        background-color: $answer-color;
      }
    }
  }

  .question-box {
    width: $component-width - 18px;
  }

  input {
    line-height: 24px;
    padding: $default-spacing;
  }
}